<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>

    <style>
        .error{
        color:red
        }
    </style>
</head>
<body>

<i>Fill out the form. Fields marked with asterisk(*) are required.</i>
<br><br>
<form method="POST" th:action="@{/processForm}" th:object="${customer}">
    <label>
        First name(*) :
        <input th:field="*{firstName}" type="text"/>
        <span class="error"
              th:errors="*{firstName}"
              th:if="${#fields.hasErrors('firstName')}"></span>
    </label>
    <br><br>
    Last name : <label>
    <input th:field="*{lastName}" type="text"/>
    <br><br>
    Passes : <input th:field="*{freePasses}" type="text"/>
    <span class="error"
          th:errors="*{freePasses}"
          th:if="${#fields.hasErrors('freePasses')}"></span>

    <br><br>
    Post Code : <input th:field="*{postCode}" type="text"/>
    <span class="error"
          th:errors="*{postCode}"
          th:if="${#fields.hasErrors('postCode')}"></span>

</label>
    <br><br>
    Course Code : <input th:field="*{courseCode}" type="text"/>
    <span class="error"
          th:errors="*{courseCode}"
          th:if="${#fields.hasErrors('courseCode')}"></span>

    </label>

    <br><br>
    <input type="submit" value="Submit"/>
</form>


</body>
</html>