<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>

    <style>
        .error{
        color:red
        }
    </style>
</head>
<body>

<i>Fill out the form. Fields marked with asterisk(*) are required.</i>
<br><br>
<form method="POST" th:action="@{/processForm}" th:object="customer">
    First name : <input th:field="*{firstName}" type="text"/>
    <br><br>
    Last name : <input th:field="*{lastName}" type="text"/>
    <br><br>
    <span class="error"
          th:error="*{firstName}"
          th:if="${#fields.hasErrors('firstName')}"></span>

    <input type="submit" value="Submit"/>
</form>


</body>
</html>